/* Row.css */
.row {
    margin-bottom: 20px;
    background-color: black; /* Add margin between rows */
    padding: 20px;
    
  }
  
  h2 {
    color: white; /* Set the color for the section title */
    margin-bottom: 10px;
  }
  
  .row_posters {
    display: flex;
    overflow-x: scroll; 
    /* Enable horizontal scrolling */
    padding-bottom: 20px;
    
  }
  
  .row_posters_container {
    display: flex;
    
    /* Display the posters in a row */
  }
  
  .row_poster {
    max-width: 150px; /* Adjust the maximum width of each poster */
    object-fit: contain;
    transition: transform 0.3s;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .row_posterLarge {
    max-width: 300px; /* Adjust the maximum width of large posters */
  }
  
  .row_poster:last-child {
    margin-right: 0; /* Remove margin for the last poster in each row */
  }
  
  .row_poster:hover {
    transform: scale(1.08);
  }
  .row_posters::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }